   <section class="page-section" id="complete">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Complete Your Registration</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Thank you {{Name}}, we got your information. </p> 
          <p class="text-muted mb-5">Please pay ${{Amount}} through Zelle to phone number 815-762-3791 to complete your registration.</p>
          <p class="text-muted mb-5">Include Team Name and Team Members Names in the memo for the payment.</p>
          <p class="text-muted mb-5">click here to go back to the <a href="/">Triple Deuces homepage</a></p>
        </div>
      </div>
    </div>
  </section>