 <div class="jumbotron">
     <p>Hello {{dataValues.Name}}, we got your information. Please pay ${{dataValues.Amount}} through Zelle to phone number 815-762-3791 to complete your registration.</p>
 </div>
 