  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Triple Deuces 1st Annual Bid Whist Tournament</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-2">Taking place on Friday, September 27, 2019 at The Terrace Inn Lounge, 630 Gardner Street, Joliet, IL, 60433.</p>
          <p class="text-white-75 font-weight-light mb-5">Winnings: 1st Place: $400, 2nd Place: $300, 3rd Place: $100</p>
          <a class="btn btn-primary btn-lg js-scroll-trigger" href="#about">Learn More</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section bg-primary about" id="about" style="min-height:900px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">About The Tournament</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">
            Have fun at our 1st Bid Whist Annual Tournament. Seats are $25 per person ($50 per team) and is non-refundable. You can click below to register. Please note that online registration ends <strong>September 22nd, 2019</strong>. Registration at the gates will be <strong>$30/Participant</strong> ($60 per team).
            </p>
            <p class="text-white-50 mb-4">Hard Copy Registration & Payment by Postal Mail to be Sent to Al-Hamid Temple #222, Timothy Harris, 1556 Timberwood Ct., Sycamore, IL., 60178 with their team name in memo area of the check or money order.</p>
                  <h2 class="text-white mt-0">The Rules</h2>
                  <hr class="divider light my-4">
            <div class="row mb-2">
              <div class="col-lg-6 col-sm-12">
                <ul>
                  <li class="text-white-50 mb-2">$25 per seat or $50 per team</li>
                  <li class="text-white-50 mb-2">3 rounds per table</li>
                  <li class="text-white-50 mb-2">Each round produces a winner and round winners will compete</li>
                  <li class="text-white-50 mb-2">All players must abide by written rules</li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-12">
                  <li class="text-white-50 mb-2">All players need to be present by 7:30pm</li>
                  <li class="text-white-50 mb-2">Seats are allocated in the order that payment is received</li>
                  <li class="text-white-50 mb-2">No refunds after payment is made</li>
              </div>
            </div>
            <p class="text-white-75 font-weight-light mb-2">$5 spectators fee at the door + 2 drinks minimum</p>
            <p class="text-white-75 font-weight-light mb-4">Music, pull tab games and 50/50 raffles available + on site security</p>
          <a class="btn btn-light btn-lg js-scroll-trigger mt-2" href="#register">Register!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Registration Section -->
  <section id="register">
    <div class="row justify-content-center pt-4 jumbotron">
      <div class="col-lg-8 col-sm-10">
          <h2 class="mt-0 text-center">Registration</h2>
          <hr class="divider my-4">
      </div>

      <div class="col-lg-6 col-sm-10">
        <form id="teamMember" action="/member/new" method="POST">
          <div class="messages ml-3 text-danger font-weight-bold">{{error}}</div>
          <div class="controls">
              <div class="form-group col-md-12">
                <label for="Amount"><i class="text-danger mr-1">*</i>Amount</label>
                  <select class="form-control form-control-sm" name="Amount" id="Amount">
                    <option selected value="25">$25 (1 Team Member)</option>
                    <option value="50">$50 (2 Member Team)</option>
                </select>
                <small id="AmountHelp" class="form-text text-muted">If you're paying for your team, you will be asked for the other team member's information</small>
              </div>
              </div>
            <div class="form-group col-md-12" id="TeamNameDiv">
                <label for="TeamName"><i class="text-danger mr-1">*</i>Team Name</label>
                <input type="text" class="form-control form-control-sm" name="TeamName" id="TeamName" placeholder="Team Name">
                <small id="TeamNameHelp" class="form-text text-muted">Search your team name to see if already added or else click add</small>
            </div>
              <div class="form-group col-md-12">
                <label for="Name"><i class="text-danger mr-1">*</i>Name</label>
                <input type="text" class="form-control form-control-sm" name="Name1" id="Name1" placeholder="First & Last Name">
              </div>
            <div class="form-group col-md-12">
              <label for="PhoneNumber"><i class="text-danger mr-1">*</i>Phone Number</label>
              <input type="text" class="form-control form-control-sm" name="PhoneNumber1" id="PhoneNumber1" placeholder="Phone Number">
            </div>
            <div class="form-group col-md-12">
                <label for="EmailAddress"><i class="text-danger mr-1">*</i>Email Address</label>
                <input type="text" class="form-control form-control-sm" name="EmailAddress1" id="EmailAddress1" placeholder="Email Address">
            </div>
            <div class="NewTeamMember d-none">
                <div class="form-group col-md-12">
                    <label for="Name2"><i class="text-danger mr-1">*</i>Team Member's Name</label>
                    <input type="text" class="form-control form-control-sm" name="Name2" id="Name2" placeholder="Team Member's First & Last Names">
                  </div>
                <div class="form-group col-md-12">
                  <label for="PhoneNumber2"><i class="text-danger mr-1">*</i>Team Member's Phone Number</label>
                  <input type="text" class="form-control form-control-sm" name="PhoneNumber2" id="PhoneNumber2" placeholder="Team Member's Phone Number">
                </div>
                <div class="form-group col-md-12">
                    <label for="EmailAddress2">Team Member's Email Address</label>
                    <input type="text" class="form-control form-control-sm" name="EmailAddress2" id="EmailAddress2" placeholder="Team Member's Email Address">
                </div>
            </div>
          <div class="row justify-content-center m-5">
            <button type="submit" class="col-md-4 btn btn-secondary btn-lg">Submit</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Need More Information ?</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">If you have any questions or concerns regarding Triple Deuces or the Bid Whist Tournament, let us know.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (815) 761-3791</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:harris621@aol.com">harris621@aol.com</a>
        </div>
      </div>
    </div>
  </section>
